<div ng-controller="AutomationController">
    <p>Signaling servers:</p>    

    <div class="modal fade" id="streamModal">
        <div class="modal-dialog">
            <div class="list-group modal-list">
                <a
                   ng-repeat="item in signalingServers"
                   href="#"
                   class="list-group-item"                   
                   data-dismiss="modal"
                   >
                    {{item.url}}
                </a>
            </div>
        </div>
    </div>

    <p>Self Id:</p>
    {{selfId}}
    <p>Peers:</p>
    <div>
        <div class="modal-dialog">
            <ul class="list-group modal-list">
                <li
                   ng-repeat="item in peers"
                   href="#"
                   class="list-group-item"                   
                   data-dismiss="modal"
                   >
                  <label>{{item.id}}</label>
                  <input type="text" name="input" ng-model="item.channel"></input>

                   <button ng-click="load(item)">
                        Load
                   </button>
                   <button ng-click="play(item)">
                        Play
                   </button>
                   <button ng-click="pause(item)">
                        Pause
                   </button>
                   <button ng-click="stop(item)">
                        Stop
                   </button>
                </li>                
            </ul>
        </div>
    </div>
</div>